* {
    border-color:#652d47;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Basic styling for the painting container */
  .painting-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    border: 1px solid #652d47;
    padding: 10px;
  }
  
  /* Styling for the painting image */
  .painting-image {
    flex: 1;
    padding: 10px;
  }
  
  .painting-image img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /* Styling for the painting details */
  .painting-details {
    padding-left: 2rem;
    flex: 1;
    padding: 10px;
    color: #652d47;
    font-size: 25px;
  }
  
  .painting-details p {
    margin-bottom: 5px;
    color: #652d47;
    font-size: 20px;
  }
  
  .painting-details strong {
    font-weight: bold;
    color: #652d47;
    font-size: 30px;
  }
  .footer{
    margin-top:.2%;
    height:10%;
    padding-top:none;
    padding-left: 2%;
    height:100px;
    padding-bottom: none;
    margin-bottom: 0%;
}
.footer p{
    color: #652d47;
    font-size: 1.5rem;
    padding-top: none;
    align-items: baseline;
}
.h3{
    padding-left:3rem ;
    padding-top:0%;
    font-size: 3.8rem;
    color:#652d47;
    font-weight:600;
}
.contact{
    padding-top: 0%;
    font-size: 1.5rem;
    color:#652d47;
    justify-content: space-evenly;
    background-color:#C39898;
    background-size:100% 600px;
}
